@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Timothy Radder<br />
    6878 10th Line Essa RR#3<br />
    Essa, Ontario, L0L2N0 <br/>
    <abbr title="Phone">P:</abbr>
    705-458-2203
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:timothyradder@hotmail.com">timothyradder@hotmail.com</a><br />
</address>