@{
    ViewBag.Title = "Welcome";
}
<br />
<div class="panel panel-info">
    <div class="panel-heading">
        <h3>Welcome</h3>
    </div>  
    <div class="panel-body">
        <div>
            <p>Welcome to Tim's Courses. A place where you can view, edit, delete, and add various fictional courses. This website puts you in control of a school's curriculum.</p>
            <p>If you wish to view all of the various classes available, and/or edit, delete, or add new ones, please simply select the courses option in the navigationl bar located at the top of the 
            screen. This will whisk you away to the appropriate page. It is styled with a lovel blue panel thanks to Bootstrap.</p>
            <p>If you wish to view all the code and files, I have provided a link to GitHub where all the code is hosted. Feel free to browse it and give me 100% on this midterm. I'm willing to accept that.</p>
            <p>
                If you wish to contact me, then just navigate via the navigation bar to the "Contact Me" option. This will whisk you to the contact page, risk free of coarse.
            </p>
        </div>
    </div>
</div>